.connectedAccountVanityMetadata__7beb2,
.connectedAccountContainerWithMetadata_cf88ce .text-xs-normal__56c35,
.platformIcon__05c5e,
.userPopoutOverlayBackground_d8afa4 .copyIcon__7f30b,
.item__183e8:not(#account-status-picker,#account-switch-account) .iconContainerLeft__4dcea,
.userProfileInner__8065b .item__183e8::before,
.memberSinceContainer__0a28b .divider_d66e63,
.userProfileModalInner__7c87d .relationshipButtons__5efdd,
.userProfileModalInner__7c87d .avatar__445f3 circle,
.userPopoutInner_f545a3 .mask__1979f circle {
  display:none !important;
}
.userProfileModalInner__7c87d foreignObject[mask*="url(#"] {
  mask:none;
}
.detailsWrap__4faa4 *,
.state_a85ac0 *,
.userProfileModalOverlayBackground__52d65 .listRow__60937 {
  display:inline-block !important;
}
.top__592a7,
.connectedAccountVanityMetadata__7beb2,
.connectedAccountNameTextContainer__0b003 {
  justify-content:center;
}
.connectedAccountContainer__23f00,
.userPopoutOverlayBackground_d8afa4,
.section__6f61e .messageInput__3b049{
  text-align:center;
}
.copiableNameTag__6b220 .copiableField__0c0e7 {
  padding:0 !important;
}
.actionsUserPopoutV2__025d9,
.actionsProfileV2__1c710,
.userProfileModalOverlayBackground__52d65 .botTag__4211a,
.section__6f61e .role__631a3 {
  width:fit-content;
}
.section__6f61e .roles__74a2b {
  margin-top:4px !important;
}
.section__6f61e .role__631a3 {
  display:inline-flex !important;
}
.userProfileInner__8065b .assets__5bee0 img {
  display:inline-grid !important;
}
.actionsUserPopoutV2__025d9 button,
.actionsUserPopoutV2__025d9 span,
.actionsProfileV2__1c710 button,
.actionsProfileV2__1c710 span {
  margin:4px auto !important;
  height:fit-content;
}
.container_b6b15b div:not(.botTag__4211a),
.userInfoSection__1daf8:not(.connectedAccounts_dc0a56),
.memberSinceContainer__0a28b {
  text-align:center;
  display:inherit;
  margin:0 !important;
}
.connectedAccountContainer__23f00>div,
.userProfileActivity__68b33 *,
.userPopoutOverlayBackground_d8afa4 .section__6f61e>*,
.userPopoutOverlayBackground_d8afa4 .iconSizeSmol__7ee47,
.section__6f61e .activity__20c1e div,
.userProfileModalOverlayBackground__52d65 .listRow__60937 div,
.userProfileModalOverlayBackground__52d65 .listScroller__92e1a,
.userProfileModalOverlayBackground__52d65 .botTag__4211a,
.userPopoutOverlayBackground_d8afa4 .customStatusSection_ce6c27 {
  display:block;
  margin:auto;
  text-align:center;
}
.connectedAccountContainer__23f00 .anchor_c8ddc0{
  margin-left:-238px;
  padding-left:220px;
  opacity:0;
}
.connectedAccountsColumn_fd2c41:has(+ .connectedAccountsColumn_fd2c41 > :last-child:nth-child(odd)) > :last-child:nth-child(even),
.connectedAccountsColumn_fd2c41:has(+ .connectedAccountsColumn_fd2c41 > :last-child:nth-child(even)) > :last-child:nth-child(odd),
.connectedAccountsColumn_fd2c41:has(+ .connectedAccountsColumn_fd2c41:empty) > div {
  transform:translateX(50%);
}
.userPopoutInner_f545a3 .avatarWrapper_f77579 {
  transform:translate(108px,-12px);
}
.userPopoutInner_f545a3 .profileBadges__7a7cb {
  transform:translate(16px,12px);
  background-color:transparent;
  margin:auto;
  justify-content:center;
}
.userProfileModalInner__7c87d .badgeList_c193e3 {
  transform:translate(-72px,28px);
  background-color:transparent;
  margin:auto;
  justify-content:center;
}
.userProfileModalInner__7c87d .avatar__445f3 {
  transform:translate(216px,-16px);
  margin:auto;
}
.userProfileModalInner__7c87d .avatar__445f3 .pointerEvents__33f6a {
  transform:translate(-89px,31px);
  width:87.4%;
  max-width:87.4%;
  height:3px;
  mask:none;
}
.userPopoutInner_f545a3 .mask__1979f .pointerEvents__33f6a {
  transform:translate(-60px,20px);
  width:87%;
  max-width:87%;
  height:3px;
  mask:none;
}
