#channels .containerDefault__3187b :is(.overflow__87fe8,.name__8d1ec) {
  position:absolute;
  left:0;
  right:0;
  text-align:center;
}
#channels .containerDefault__23a29 .overflow__87fe8 {
  position:absolute;
  top:2px;
  left:0;
  right:0;
  text-align:center;
}
#channels .linkTop_eaa673 .iconContainer__3f9b0 {
  position:absolute;
  left:0;
}
#channels .linkTop_eaa673 .name__8d1ec.overflow__87fe8 ~ *:not(.iconContainer__3f9b0) {
  position:absolute;
  right:0;
}
#channels .linkTop_eaa673 {
  height: 20px;
}
#channels .linkBottom_bac113 {
  position:relative;
  left:9px;
  right:0;
  margin:auto;
}
.members__9f47b * {
  display:block;
  text-align:center;
}
.memberInner_a32223 {
  height:fit-content;
}
.members__9f47b .avatar__6337f {
  margin:auto;
}
.members__9f47b .username__11d8c {
  white-space:normal;
}
.members__9f47b .subText_ab7e13 {
  display:none;
}
.members__9f47b .botTag_a52f38 {
  display:flex;
  position:absolute;
  top:24px;
  left:0;
  right:0;
  width:fit-content;
  margin:auto;
  transition: opacity 0.2s ease;
  opacity: 0;
}
.members__9f47b:hover .botTag_a52f38 {
  opacity:initial;
}
.members__9f47b .ownerIcon__827bd {
  position:absolute;
  top:-6px;
  left:0;
  right:0;
  margin:auto;
}
.members__9f47b [aria-label^="Server Boost"] {
  margin:auto;
}
.container_b2ce9c:has(.membersWrap__90226)>*,.membersWrap__90226>* {
  width:100% !important;
}
.membersWrap__90226 {
  min-width:unset !important;
}
