@import url('https://raw.githubusercontent.com/im-h/css-snippets/main/Clickable-Connections.css');
:root {
    --offline-visibility:1;
    --member-since-gap:90px;
    --timebar-text-color:black;
    --timebar-popout-text-margin:-14px;
    --timebar-modal-text-margin:-10px;
    --timebar-rounding:100px;
    --member-since-width:80px;
}
.connectedAccountVanityMetadata__10ae9,
.connectedAccountContainerWithMetadata_c474f9 .text-xs-normal__46d75,
.platformIcon_a2d873,
.userPopoutOverlayBackground__3e7e6 .copyIcon__7f30b,
.item__183e8:not(#account-status-picker, #account-switch-account) .iconContainerLeft__80d26,
.userProfileInner__8ff35 .item__183e8::before,
.memberSinceWrapper__03059 .divider__979dc,
.userProfileModalInner__84e47 :is(.relationshipButtons_b880ad, .listScroller__18a19 .listRow__50619 rect, rect[fill="black"]),
.userPopoutInner_ac0960 .mask_d5067d :is(rect[fill="black"], circle) {
    display:none !important
}
.detailsWrap_a126c3 *,
.state_a85ac0 *,
.userProfileModalOverlayBackground_a5b043 .listRow__50619 {
    display:inline-block !important
}
.top_fae1fa,
.connectedAccountVanityMetadata__10ae9,
.connectedAccountNameTextContainer_e6ac0d,
.vc-expandableheader-center-flex,
.section__62b44 * {
    justify-content:center
}
.connectedAccountContainer__5972d,
.userPopoutOverlayBackground__3e7e6,
.section__62b44 .messageInput_c423ff {
    text-align:center
}
.copiableNameTag_e76019 .copiableField__5eae7 {
    padding:0 !important
}
.actionsUserPopoutV2__46596,
.actionsProfileV2_eea61b,
.userProfileModalOverlayBackground_a5b043 .botTag__4211a {
    width:fit-content
}
:is(.actionsUserPopoutV2__46596, .actionsProfileV2_eea61b) :is(button, span) {
    margin:4px auto !important;
    height:fit-content
}
.container__9f51c div:not(.botTag__4211a),
.userInfoSection_e816c1:not(.connectedAccounts__7a8e6) {
    text-align:center;
    display:inherit;
    margin:0 !important
}
.connectedAccountContainer__5972d>div,
.userProfileActivity__0988f *,
.userPopoutOverlayBackground__3e7e6 :is(.section__62b44>*, .iconSizeSmol__44614),
.section__62b44 .activity__20c1e div,
.userProfileModalOverlayBackground_a5b043 :is(.listRow__50619 div, .listScroller__18a19, .botTag__4211a),
.userPopoutOverlayBackground__3e7e6 .customStatusSection_c9f9ba {
    display:block;
    margin:auto;
    text-align:center
}
.userProfileModalOverlayBackground_a5b043 :is(.listRow__50619 div, .listScroller__18a19:not(:has(.empty__18e40))) div:not(.info__40462, .activityProfileV2_f5335f, .activityProfileV2_f5335f *) {
    display:grid;
    white-space:normal;
    max-width:120px
}
.connectedAccountsColumn__57331:has(+ .connectedAccountsColumn__57331 > :last-child:nth-child(odd))> :last-child:nth-child(even),
.connectedAccountsColumn__57331:has(+ .connectedAccountsColumn__57331 > :last-child:nth-child(even))> :last-child:nth-child(odd),
.connectedAccountsColumn__57331:has(+ .connectedAccountsColumn__57331:empty)>div {
    transform:translateX(52.75%)
}
/* ^^^ Thanks dav ^^^ */
.userProfileInner__8ff35 {
    .copyIcon_d14424 {
        display:none
    }
    .activityUserPopoutV2__89098 {
        .activityDetails_b90109 {
            display:inline-grid;
            >* {
                margin:auto
            }
        }
        .timeBarUserPopoutV2__5d401 {
            margin-top:4px;
            .barInMultiLine__5fd01,
            .barInner__0f713 {
                height:10px;
                border-radius:var(--timebar-rounding)
            }
            .barInMultiLine__5fd01 .barInner__0f713 {
                margin:auto
            }
            .flex_f18b02 {
                display:block;
                .textLeft__05c15 {
                    margin-top:var(--timebar-popout-text-margin);
                    color:var(--timebar-text-color)
                }
            }
        }
        div:has(.buttonsWrapper__77788) {
            display:grid;
            .buttonsWrapper__77788 {
                display:grid;
                margin-top:6px;
                .buttonSize__9da96.grow__4c8a4 {
                    margin-top:0 !important
                }
                .buttonSize__9da96.grow__4c8a4:last-child {
                    margin-bottom:0 !important
                }
            }
        }
    }
    .activityProfileV2_f5335f {
        .textLeft__05c15 {
            margin-top:var(--timebar-modal-text-margin);
            color:var(--timebar-text-color)
        }
        .timeBarProfileV2_d92d85 {
            margin-top:4px;
            .barInMultiLine__5fd01 {
                height:10px
            }
            .barInner__0f713,
            .barInMultiLine__5fd01 {
                border-radius:var(--timebar-rounding)
            }
        }
        .activityDetails_b90109 {
            display:inline-block;
            >* {
                margin:auto
            }
        }
    }
}
.userPopoutInner_ac0960 {
	.section__62b44 {
         .roles__74a2b {
            margin-top:4px !important;
            .role_d81130 {
                width:fit-content;
                margin:0 2px 4px
            }
        }
        .root_a99273.roles__74a2b,
        .role_d81130 {
            display:inline-flex !important;
            justify-content:center
        }
    }
    .section__62b44:has([class*="pplication"]) .button__581d0,
    .fakeActivityIcon__7d0ce {
        margin:auto
    }
    .section__62b44+div:has(.vc-expandableheader-center-flex) {
        display:inline-block !important;
        margin:4px 0 4px 0 !important;
        &:nth-last-child(2) {
            margin-bottom:0 !important
        }
    }
    foreignObject {
        mask:none !important;
        border-radius:0 !important
    }
    .avatarWrapper__0cd44 {
        display:grid;
        left:50%;
        right:50%;
        justify-content:center;
        .avatarHint__15059 {
        	left:-40px
        }
        .avatarDecorationHint__04b99 {
        	left:-48px
        }
    }
    .mask_d5067d .pointerEvents__585e6 {
        width:80px;
        height:3px;
        mask:none;
        translate:-60px 20px
    }
    .mask_d5067d .pointerEvents__585e6[mask*="mobile"] {
        translate:-60px 28px
    }
    .profileBadges__1f2ab {
        right:unset;
        margin:auto;
        justify-content:center;
        translate:0 30px;
        z-index:1
    }
    .wrapper__3ed10 .pointerEvents__585e6[fill="#80848e"] {
        opacity:var(--offline-visibility)
    }
    .memberSinceWrapper__03059 {
        >* {
            display:block;
            margin:auto;
            width:var(--member-since-width);
        }
        :first-child {
            margin-right:0
        }
        :last-child {
            margin-left:0
        }
        [class^=icon] {
            margin:auto
        }
    }
    .profileMutuals__95dc2 {
		h2 {
  			margin:auto
 		}
		.compactItemContainer__55b3e {
			display:grid;
            margin:auto;
			height:fit-content;
  			gap:2px;
			.dotSpacer_f8ba0a {
  				display:none
			}
			.avatarAndTextContainer_feb963 {
  				display:grid;
  				justify-content:center;
				.avatars__52387 {
					justify-content:center
				}
			}
		}
		.serverContainer__93bca {
            display:block
        }
	}
}
.userProfileModalInner__84e47 {
	foreignObject[mask*="url(#"] {
    	mask:none
	}
    .avatar__445f3 {
        left:0;
        right:0;
        margin:auto;
        circle {
            display:none
        }
        .pointerEvents__585e6 {
            width:120px;
            height:3px;
            mask:none;
            translate:-88px 32px
        }
        .pointerEvents__585e6[mask*="mobile"] {
            translate:-88px 44px
        }
    }
    .headerTop_e82f16 {
        justify-content:center;
        left:0;
        right:0;
        translate:0 42px;
        .badgeList__126b0 {
            margin:0
        }
    }
    .listScroller__18a19 .listRow__50619 {
        div:has([fill="#23a55a"]) {
            filter:drop-shadow(0 0 4px #23a55a)
        }
        div:has([fill="#f0b232"]) {
            filter:drop-shadow(0 0 4px #f0b232)
        }
        div:has([fill="#f23f43"]) {
            filter:drop-shadow(0 0 3px #f23f43)
        }
        div:has([fill="#593695"]) {
            filter:drop-shadow(0 0 4px #593695)
        }
        div:has([fill="#80848e"]) {
            filter:drop-shadow(0 0 calc(var(--offline-visibility) * 2px) #80848e)
        }
        div[fill="#80848e"] {
            .pointerEvents__585e6 {
                opacity:var(--offline-visibility)
            }
        }
    }
	.userInfoText_b87307.markup_a7e664 + div .defaultColor__30336.eyebrow_b3f8ba.defaultColor__8610e.userInfoSectionHeader_c9f1d3 + .defaultColor__30336.text-sm-normal__95a78.userInfoText_b87307 {
  		margin-bottom:8px
	}
}
