#channels {
  & .containerDefault_e3b32b .overflow__993fa {
    text-align: center;
    position: absolute;
    top: 2px;
    left: 0;
    right: 0
  }

  & .content__6bf34 .iconContainer__6a580 {
    position: absolute;
    left: 8px
  }

  & .containerDefault_ae2ea4 {
    & .overflow__993fa,
    & .name__4eb92 {
      text-align: center;
      left: 0;
      right: 0
    }

    & .linkTop_c8969d {
      & .iconContainer__6a580 {
        position: absolute;
        left: 0
      }

      & .name__4eb92.overflow__993fa~:not(.iconContainer__6a580) {
        position: absolute;
        right: 0
      }
    }

    & .linkBottom__942a1 {
      margin: auto;
      position: relative;
      left: 9px;
      right: 0
    }

    & .list__02208.list__54b1e.listDefault__4e3fa {
      flex-wrap: wrap;
      flex-direction: unset;
      justify-content: center;
      gap: 4px;
      padding-left: 8px;

      & .draggable__68384,
      & .voiceUser__629a5 {
        height: fit-content
      }

      & .content__3b07e {
        text-align: center;
        display: grid;
        padding-left: 0 !important;

        & * {
          margin: auto
        }

        & .userAvatar_f45224 {
          margin-top: 4px
        }

        & .container__43fce {
          min-width: 48px
        }

        & .iconGroup_e117d2 {
          display: inline;

          & .iconSpacing_f4f39e:not(.liveIconSpacing__92cf0) {
            display: inline-flex
          }

          &:has([aria-label="Add a status"]) {
            display: none
          }
        }
      }
    }
  }
}

.container_f79ab4:has(.membersWrap__5ca6b)>*,
.membersWrap__5ca6b>* {
  width: fit-content !important
}

.membersWrap__5ca6b {
  min-width: unset !important;
  height: 100% !important;

  & :hover .botTag_a52f38 {
    opacity: initial !important
  }

  & .members__573eb {
    & * {
      text-align: center;
      display: block
    }

    & .membersGroup_cad095 {
      max-width: 224px;
      margin-left: 4px;

      & * {
        white-space: normal;
        margin: auto
      }
    }

    & .member_aa4760 {
      & .memberInner__4dac6 {
        height: fit-content;

        & .avatar__6337f {
          margin: auto
        }

        & .content_e8a0d1 {
          & .username_ab1e31 {
            white-space: normal
          }

          & .subText__4629e,
          & .clanTag_f4aadc,
          & [aria-label^="Server Boost"] {
            display: none
          }

          & .vc-platform-indicator {
            margin: 0 !important
          }

          & .ownerIcon_bd8e7d {
            margin: auto;
            position: absolute;
            top: -6px;
            left: 0;
            right: 0
          }

          & .botTag_a52f38 {
            opacity: 0;
            width: fit-content;
            margin: auto;
            transition: opacity .2s;
            display: flex;
            position: absolute;
            top: 24px;
            left: 0;
            right: 0
          }
        }
      }
    }
  }
}
