:root {
  --reveal-margin:-82px;
}
.constrainedRow__1fed1 .text-md-normal__6e567:has([aria-label="Reveal phone number"]) {
  visibility:hidden;
}
[aria-label="Reveal phone number"] {
  visibility:visible;
}
.text-md-normal__6e567:has([aria-label="Reveal phone number"])::before {
  content:'Hidden';
  font-size:14px;
  visibility:visible;
  margin-right:var(--reveal-margin);
}
.contentColumn__23e6b:has([aria-label="Reveal phone number"]) .size14_a4e6b9.marginBottom8_fd297e {
  visibility:hidden;
}
