:root {
  --avatar-border-radius: 50% /* 0 - square avatars, 50% - circle avatars */
}

.listAvatar__9d78f,
.avatar__75742,
.avatar__91a9d {
  border-radius: var(--avatar-border-radius);
  box-shadow: 0 0 6px 1px;

  &:has([fill=\#40a258]) {
    color: #40a258
  }

  &:has([fill=\#cc954c]) {
    color: #cc954c
  }

  &:has([fill=\#d83a41]) {
    color: #d83a41
  }

  &:has([fill=\#9147ff]) {
    color: #9147ff
  }

  & foreignObject {
    mask: none;
    border-radius: var(--avatar-border-radius)
  }

  & .pointerEvents__44b0c {
    display: none
  }
}
