:root {
  --bot-tag: "BOT"
}

.botText__82f07 {
  visibility: hidden;

  &:before {
    visibility: visible;
    position: absolute;
    content: var(--bot-tag)
  }
}

.notAppAsidePanel_a3002d:has([aria-label="Verified App"]:hover) .layer_da8173.disabledPointerEvents_da8173 .tooltip__382e7.tooltipTop__382e7.tooltipPrimary__382e7.tooltipDisablePointerEvents__382e7 .tooltipContent__382e7 {
  visibility: hidden;

  &:before {
    content: "Verified Bot";
    visibility: visible;
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0
  }
}

[aria-label="Add App"] {
  color:transparent !important;

  &:before {
    left: 44%;
    color: var(--button-secondary-text);
    content: "Add Bot";
    position: absolute
  }

  & svg,path {
    color: var(--button-secondary-text)
  }
}
