:root {
    --bot-tag: "BOT";
    --bot-vc-tag: "BOT • VC Mod";
    --bot-chat-tag: "BOT • Chat Mod";
    --bot-mod-tag: "BOT • Mod";
    --bot-admin-tag: "BOT • Admin";
    --bot-staff-tag: "BOT • Staff";
    --bot-owner-tag: "BOT • Owner"
}
.botTagRegular_fc4b4a {
    &[data-tag^="app"] .botText_daff56 {
        visibility: hidden;
        &:before {
            visibility: visible;
            white-space: nowrap;
            position: absolute
        }
    }
    &[data-tag="app"] .botText_daff56 {
        &:before {
            content:var(--bot-tag)
        }
    }
    &[data-tag="app • vc mod"] .botText_daff56 {
        &:before {
            content:var(--bot-vc-tag)
        }
    }
    &[data-tag="app • chat mod"] .botText_daff56 {
        &:before {
            content:var(--bot-chat-tag)
        }
    }
    &[data-tag="app • mod"] .botText_daff56 {
        &:before {
            content:var(--bot-mod-tag)
        }
    }
    &[data-tag="app • admin"] .botText_daff56 {
        &:before {
            content:var(--bot-admin-tag)
        }
    }
    &[data-tag="app • staff"] .botText_daff56 {
        &:before {
            content:var(--bot-staff-tag)
        }
    }
    &[data-tag="app • owner"] .botText_daff56 {
        &:before {
            content:var(--bot-owner-tag)
        }
    }
}
.notAppAsidePanel__95814:has([aria-label="Verified App"]:hover) .layer__6b5c3.disabledPointerEvents__214b3 .tooltip__7b090.tooltipTop_e50d2d.tooltipPrimary__51b23.tooltipDisablePointerEvents__2978d .tooltipContent_adb6d5 {
    visibility: hidden;
    &:before {
        content: "Verified Bot";
        visibility: visible;
        text-align: center;
        width: 100%;
        position: absolute;
        left: 0
    }
}
.applicationInstallButtonText__90897 {
    visibility: hidden;
    &:before {
        content: "Add Bot";
        visibility: visible;
        position: absolute
    }
}
